@import "./mixin";

.container {
    .home {
        width: 500px;
        height: 500px;
        background-color: red;
        @include breakpoint($min: 1200px, $max: 1400px) {
            width: 200px;
            height: 200px;
        }
        @include breakpoint($min: 575px, $max: 1199px) {
            width: 100px;
            height: 100px;
        }
    }
}
