.about{
    margin-top: 50px;
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-top{
            background-color: aquamarine;
            color: black;
            font-size: 13px;
            padding: 3px 6px;
            border-radius: 30px;
        }
        &-title{
            span{

            }
        }
        &-description{

        }
    }

    &__left{
        &-img{

        }
    }

    &__right{
        
    }
}



.my-project{
    &__left{
        &-btn{
            color:green;
            padding: 10;
        }
    }
}