html,body{

    font-family: Georgia, 'Times New Roman', Times, serif;

}

.nav-item{
padding-right: 15px;
font-size: 20px;
}
.nav-start{
    color:rgba(241, 178, 4, 0.911);
    font-size: 35px;
    font-weight: 500;
   padding: 10px 10px 10px 0px;
}
.wraper{
margin-top: 87px ;

}
.bg {

    background-image: url("img/1041618.jpg");
  
  
    height: 650px;
    width: 1480px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.mbr-section-title{
    font-size: 80px;
    
    font-weight: 600;
    color: rgba(245, 204, 56);
    padding: 100px 0px 0px 100px;
}
.mbr-section-subtitle{
    font-size: 60px;
    
    font-weight: 300;
    color: rgb(255, 218, 7);
    padding: 20px 0px 0px 100px;
}
.mbr-section-text {
    font-size: 30px;
    
    font-weight: 30;
    color: rgba(245, 204, 56);
    padding: 20px 0px 0px 100px;
}
.mbr-section-btn{
    padding-left: 100px;
    margin-top: 50px;
}
.btn-warning{
 font-weight: bolder;
}
hr{

   width: 5%;
   border: black 1px solid;

}
.row-item{

    padding: 0px 40px 5px 5px;
}
.container{
    padding-bottom: 60px;
}
.left{
    font-size: 30px;
    color: black;
}
.left:hover{
    color: rgb(255, 218, 7);
    font-size: 35px;
}
.stats-item{
    background-color:rgb(167, 166, 166);
    height: 400px;
}
.stats-item1{
    background-color:rgb(223, 219, 219);
    height: 400px;
}
.middle {
    padding-top: 150px;
    font-size: 45px;
    color: black;
}
.middle:hover{
    color: rgb(255, 218, 7);
    font-size: 50px;
}
.irow{
    padding-bottom: 60px;
}
.mbr-text{
    font-size: 20px;
}
.mbr-fonts-style{
    font-size: 30px;
    font-weight: 400;
}
.padd{
    padding-bottom: 80px;
}